.gradient {
  background: linear-gradient(221.15deg, #BD8727 0%, #FFD574 49.02%, #FECA50 62.02%, #BD8727 101.47%);
  color: $black !important;
}
.select-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
